/* General styling */
body {
  font-family: "Verdana", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}
.wrapper {
  display: flex;
  flex-direction:column;
  min-height: 100vh; 
  /* Ensures the wrapper takes full height of the viewport */
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #55697d;
  color: rgb(70, 63, 139);
  text-align: center;
  padding: 10px 20px;
}
header.navbar {
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div{
  font-size: larger;
  padding: 2px;
}
.warning{
  color: red;
}
header.navbar nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}


form label, .filters select, .filters input, .filters button {
  display: block;
  margin-bottom: 10px;
}

.filters {
  display: flex;
  gap: 10px;
  border-radius: 10px;
}

.result-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #fff;
}

button {
  background-color: #3498db;
  color: black;
  border: none;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}

.enroll_button{
  background-color: #3498db;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.section{
  color: black;
  padding: 10px;
}

.section {
  display: none;
}
/* profile css */
.profile-info {
  margin-bottom: 1rem;
}

.profile-info p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

#profile-form label {
  display: block;
  margin: 0.5rem 0 0.2rem;
}

#profile-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#profile-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#profile-form button:hover {
  background-color: #0056b3;
}


.result-card h4 {
  cursor: pointer;
  text-decoration: underline;
  color: #007bff;
}

.result-card h4:hover {
  color: #0056b3;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}
